
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding : 0;
    background-color: rgb(213,224,239);
    height : 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display :flex;
    font-size: 15px;
}

.container{
    width : 20%;
    max-height : 80%;
    background-color: white;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
}

p{
    text-align: center;
}

.title{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}


img{
    margin : 3%;
    border-radius: 5%;
    width: 90%;
}

.text{
    padding-bottom: 10px;;
}




@media screen and (max-width : 376px ) {
    .container{
        width: 90%;
    }
}